BOT_TOKEN=your-telegram-bot-token
DATABASE_URL=postgresql+asyncpg://user:pass@host:port/dbname
MODERATOR_CHAT_ID=
MODERATOR_TASHKENT=@rishta_manager_tashkent
MODERATOR_USA=@rishta_manager_usa
MODERATOR_CIS=@rishta_manager_cis
MODERATOR_EUROPE=@rishta_manager_europe
PAYME_TOKEN=
CLICK_TOKEN=
STRIPE_SECRET_KEY=
