BOT_TOKEN=your-telegram-bot-token
DATABASE_URL=postgresql+asyncpg://user:pass@host:port/dbname
MODERATOR_CHAT_ID=8400995899
MODERATOR_TASHKENT=@rishta_manager_tashkent
MOD_TASHKENT_ID=8400995899
MOD_TASHKENT_USERNAME=rishta_manager_tashkent
MOD_SAMARKAND_ID=8400995899
MOD_SAMARKAND_USERNAME=rishta_manager_tashkent
MAIN_MODERATOR_ID=8400995899
MODERATOR_USA=@rishta_manager_usa
MODERATOR_CIS=@rishta_manager_cis
MODERATOR_EUROPE=@rishta_manager_europe
PAYME_TOKEN=
CLICK_TOKEN=
STRIPE_SECRET_KEY=
